@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.titlebar {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 700;
  color: var(--textColor);
}

.titlebar span {
  color: var(--accentColor);
}

.cbt {
  color: #585858 !important;
  font-style: italic;
}

.appContainer {
  min-height: calc(90vh-30px);
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: var(--accentColor);
}
