@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.appContainer {
  min-height: calc(90vh-30px);
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #6349ff;
}
