.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  color: #fff;
  background: linear-gradient(253.37deg, #6349ff, #e3a9ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  flex-direction: row;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container div {
  width: 100vw;
}

.welcome {
  color: #6f6f70;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -1rem;
}

.title {
  /* max-width: 50vw; */
  font-size: 4rem;
  text-transform: uppercase;
}

.title span {
  color: #6349ff;
}

.text {
  /* max-width: 50vw; */
}

.button {
  background-color: #fff;
  color: #6349ff;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 400px;
  text-decoration: none;
}

.button:hover {
  background-color: #e3a9ff;
}
