@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.container {
  font-family: "Roboto", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.header .header_logo {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  flex-grow: 0.5;
}

.header .header_logo p {
  color: #000;
}

.header .header_logo span {
  color: #6349ff;
}

.header .header_try button {
  background-color: #6349ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* MAIN */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  padding-top: 10vh;
  width: 80vw;
  margin-left: 10vw;
}

.main .main_left {
  flex-grow: 0.5;
  padding: 20px;
  max-width: 40vw; /* mobile */
}
.main .main_left h1 {
  font-size: 64px;
  font-weight: 500;
  color: #00194a;
  margin-bottom: 20px;
}

.main .main_left p {
  font-size: 18px;
  font-weight: 300;
  color: #00194a;
  margin-bottom: 20px;
}

.main .main_left button {
  background-color: #6349ff;
  color: #fff;
  border: none;
  padding: 15px 80px; /* mobile */
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.main .main_left button:hover {
  background-color: #4a3bd1;
}

.main_right {
  max-width: 40vw; /* mobile */
}

.main_appTiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  /* margin-left: 5vw; */
  margin-top: 20vh;
}
.main_appTiles .main_appTiles_tile {
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  transition: 0.3s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  max-width: 400px;
}

.main_appTiles .main_appTiles_tile:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.main_appTiles .main_appTiles_tile .main_appTiles_tile_title {
  color: #00194a;
  font-size: 22px;
  font-weight: 500;
  padding-top: 20px;
}

.main_appTiles .main_appTiles_tile .main_appTiles_tile_text {
  padding: 10px 0;
  color: #00194a;
  font-weight: 300;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: 0;
  }

  .main .main_left {
    max-width: 80vw;
  }

  .main .main_left button {
    padding: 15px 40px;
  }

  .main_right {
    max-width: 80vw;
  }

  .main_appTiles {
    margin-top: 10vh;
  }
}
