.item {
  margin: 20px;
  background: var(--bgDimmed);
  padding: 20px;
  border-radius: 20px;
}

.logbox {
  max-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 span {
  color: rgb(0, 209, 0);
}
